{% extends "layout.njk" %}

{% block content %}


<div id="wrapper">
  <img src={{user.avatar}} alt="Mayk Brito">
  <h1>{{ user.name }}</h1>
  <h2>{{ user.profession }} - {{ user.company }}</h2>
  <p> {{ user.bio }}<a href="https://rocketseat.com.br/" target="_blank"> {{ user.company }}</a></p>
</div>
<div class="links" id="userlinks">
  {% for link in user.links %}
      <a href="{{ link.url }}" target="_blank">{{ link.name }}</a> 
  {% endfor%}
</div>
{% endblock %}