{% extends "layout.njk" %}

{% block content %}


<div id="wrapper">
  <img src="https://avatars2.githubusercontent.com/u/6643122?s=460&u=1e9e1f04b76fb5374e6a041f5e41dce83f3b5d92&v=4" alt="Mayk Brito">
  <h1>Mayk Brito</h1>
  <h2>Instructor - Rocketseat</h2>
  <p>
        Full-stack programmer, focused on bringing the best teaching to beginners in programming. Collaborator <a href="#">Rocketseat</a></p>
</div>
<div class="links" id="userlinks">
  <a href="https://github.com/maykbrito/">Github</a>
  <a href="https://Twitter.com/maykbrito/">Twitter</a>
  <a href="htpps://www.linkedin.com/in/maykbrito/">Linkedin</a>   
</div>
{% endblock %}